.gradle/5.2.1/gc.properties
.gradle/5.2.1/executionHistory/executionHistory.bin
.gradle/5.2.1/executionHistory/executionHistory.lock
.gradle/5.2.1/fileChanges/last-build.bin
.gradle/5.2.1/fileContent/fileContent.lock
.gradle/5.2.1/fileHashes/fileHashes.bin
.gradle/5.2.1/fileHashes/fileHashes.lock
.gradle/5.2.1/fileHashes/resourceHashesCache.bin
.gradle/5.2.1/javaCompile/classAnalysis.bin
.gradle/5.2.1/javaCompile/jarAnalysis.bin
.gradle/5.2.1/javaCompile/javaCompile.lock
.gradle/5.2.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/.name
.idea/gradle.xml
.idea/misc.xml
.idea/workspace.xml
build/classes/java/main/io/melvinjones/weatherservice/GetRequestService$1.class
build/classes/java/main/io/melvinjones/weatherservice/GetRequestService$SampleRecordProcessor.class
build/classes/java/main/io/melvinjones/weatherservice/GetRequestService$SampleRecordProcessorFactory.class
build/classes/java/main/io/melvinjones/weatherservice/GetRequestService.class
build/classes/java/main/io/melvinjones/weatherservice/Greeting.class
build/classes/java/main/io/melvinjones/weatherservice/HelloWorldApplication.class
build/classes/java/main/io/melvinjones/weatherservice/HelloWorldController.class
build/classes/java/main/io/melvinjones/weatherservice/Hostname.class
build/classes/java/test/com/example/actuatorservice/HelloWorldApplicationTests.class
build/libs/actuator-service-0.0.1-SNAPSHOT.jar
build/reports/tests/test/index.html
build/reports/tests/test/classes/com.example.actuatorservice.HelloWorldApplicationTests.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/com.example.actuatorservice.html
build/resources/main/application.properties
build/resources/main/application.yml
build/test-results/test/TEST-com.example.actuatorservice.HelloWorldApplicationTests.xml
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/tmp/bootJar/MANIFEST.MF
src/main/main.iml
*.iml
build/classes/java/main/io/melvinjones/weatherservice/WeatherRequest.class
build/classes/java/test/io/melvinjones/weatherservice/HelloWorldApplicationTests.class
*.class
